@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum Regular'),
      local('Cuprum-Regular'),
      url('../fonts/cuprum.woff2') format('woff2'),
      url('../fonts/cuprum.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum Bold'),
      local('Cuprum-Bold'),
      url('../fonts/cuprumbold.woff2') format('woff2'),
      url('../fonts/cuprumbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum Italic'),
      local('Cuprum-Italic'),
      url('../fonts/cuprumitalic.woff2') format('woff2'),
      url('../fonts/cuprumitalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PTSans';
  src: local('PTSans Regular'),
      local('PTSans-Regular'),
      url('../fonts/ptsans.woff2') format('woff2'),
      url('../fonts/ptsans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans';
  src: local('PTSans Bold'),
      local('PTSans-Bold'),
      url('../fonts/ptsansbold.woff2') format('woff2'),
      url('../fonts/ptsansbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-title {
  font: inherit;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.heading-black,
.heading-blue {
  font: inherit;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.heading-blue {
  color: #32425c;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  width: 253px;
  padding: 10px 8px;
  font: inherit;
  font-size: 14px;
  line-height: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.button:hover {
  background-color: #ca2c37;
}

.button:focus,
.button:active {
  background-color: #ba2732;
  outline: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@-webkit-keyframes fadeSlide {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeSlide {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes crescendo {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes crescendo {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@-webkit-keyframes shake {

  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {

  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.main-header {
  padding-bottom: 60px;
  margin-bottom: 58px;
  background-color: #f4f7f9;
}

.top-nav {
  min-height: 42px;
  margin-bottom: 46px;
  background-color: #293449;
}

.top-nav .wrapper {
  position: relative;
}

.logo-container {
  width: 220px;
  height: 47px;
  text-align: center;
  background-color: #ee3643;
  -webkit-box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
          box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.top-nav .top-nav-logo {
  position: absolute;
  top: 0;
  left: 0;
}

.logo-container:hover {
  background-color: #ca2c37;
}

.logo-container:focus,
.logo-container:active {
  background-color: #ba2732;
}

.logo {
  display: block;
  margin-top: 12px;
}

.top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
    -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 720px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.top-menu .top-menu-item {
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.top-menu-item a {
  display: inline-block;
  position: relative;
  padding-top: 12px;
  padding-left: calc(18px + 15px + 15px);
  vertical-align: middle;
  font: inherit;
  line-height: 18px;
  color: #ffffff;
}

.top-menu-item .bookmarks {
  padding-left: calc(17px + 14px + 14px);
}

.top-menu-item span {
  margin-left: 4px;
}

.top-menu .top-menu-item:first-child {
  width: 270px;
}

.top-menu-search {
  width: 100%;
  height: 100%;
  padding: 0;
}

.top-menu-search .search-label {
  position: absolute;
  top: 13px;
  left: 18px;
  width: 17px;
  height: 17px;
}

.search-label svg {
  fill: #ffffff;
  opacity: 0.3;
  z-index: 10;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.top-menu-search input[type='search'] {
  width: 100%;
  min-height: 42px;
  padding: 11px 16px 11px 48px;
  font: inherit;
  color: #ffffff;
  line-height: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.top-menu-search input[type='search'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top-menu-search input[type='search'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.top-menu-search input[type='search']::-ms-clear {
  display: none;
}

.top-menu-search input[type='search']::-ms-reveal {
  display: none;
}

.top-menu-search input[type='search']::-webkit-search-decoration,
.top-menu-search input[type='search']::-webkit-search-cancel-button,
.top-menu-search input[type='search']::-webkit-search-results-button,
.top-menu-search input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.top-menu-search input[type='search']::-webkit-input-placeholder {
  font: inherit;
  color: #ffffff;
}

.top-menu-search input[type='search']::-moz-placeholder {
  font: inherit;
  color: #ffffff;
}

.top-menu-search input[type='search']:-ms-input-placeholder {
  font: inherit;
  color: #ffffff;
}

.top-menu-search input[type='search']::-ms-input-placeholder {
  font: inherit;
  color: #ffffff;
}

.top-menu-search input[type='search']::placeholder {
  font: inherit;
  color: #ffffff;
}

.top-menu-search input[type='search']:hover {
  background-color: #212a3a;
}

.top-menu-search input[type='search']:hover+.search-label svg {
  fill: #ffffff;
  opacity: 1;
}

.top-menu-search input[type='search']:focus,
.top-menu-search input[type='search']:active {
  background-color: #ffffff;
  color: #000000;
  border: none;
  outline: none;
}

.top-menu-search input[type='search']:focus+.search-label svg,
.top-menu-search input[type='search']:active+.search-label svg {
  fill: #ee3643;
}

.top-menu-search input:-webkit-autofill,
.top-menu-search input:-webkit-autofill:hover,
.top-menu-search input:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px #293449 inset;
  -webkit-transition: background-color 0.4s ease-in-out 0s;
  transition: background-color 0.4s ease-in-out 0s;
}

.top-menu .top-menu-item:not(first-child) {
  width: 150px;
}

.top-menu-item a::before {
  position: absolute;
  content: "";
  top: 12px;
  left: 18px;
  width: 15px;
  height: 15px;
  opacity: 0.3;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.top-menu-item .cart::before {
  background: url(../img/icon-cart.svg) no-repeat center;
}

.top-menu-item .bookmarks::before {
  background: url(../img/icon-bookmark.svg) no-repeat center;
  left: 17px;
}

.top-menu-item.cart-active {
  background-color: #ee3643;
}

.top-menu-item:hover {
  background-color: #212a3a;
}

.top-menu-item:hover a::before {
  opacity: 1;
}

.top-menu-item:focus,
.top-menu-item a:focus .top-menu-item,
.top-menu-item:active,
.top-menu-item a:active .top-menu-item {
  background-color: #161d29;
}

.top-menu-item a:focus,
.top-menu-item a:focus span,
.top-menu-item a:focus .top-menu-item a::before,
.top-menu-item a:active,
.top-menu-item a:active span,
.top-menu-item a:active .top-menu-item a::before {
  opacity: 0.5;
}

.top-menu-item .search:focus {
  color: #000000;
  background-color: #ffffff;
}

.top-menu-item .order-button {
  width: 100%;
  min-height: 42px;
  padding: 0;
  font: inherit;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  background-color: #63a63e;
  border: none;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.top-menu-item .order-button:hover {
  background-color: #5fbb2d;
}

.top-menu-item .order-button:focus,
.top-menu-item .order-button:active {
  opacity: 0.5;
  background-color: #518534;
  outline: none;
}

.main-header-middle {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-header-middle p {
  width: 198px;
  margin: 0;
  margin-left: 52px;
  margin-right: 21px;
  padding-top: 3px;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.main-header-middle-contact {
  max-width: 270px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-header-middle-contact a {
  position: relative;
  display: inline-block;
  min-width: 270px;
  margin-bottom: 4px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 70px;
  vertical-align: middle;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: solid 3px #ffffff;
}

.main-header-middle-contact a::before {
  position: absolute;
  content: "";
  top: 4%;
  left: 4px;
  width: 32px;
  height: 32px;
  background: url(../img/icon-phone.svg) no-repeat 50% 50%;
}

.main-header-middle-contact span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
}

.login-signup-buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-width: 300px;
  font-size: 21px;
  line-height: 21px;
  cursor: pointer;
}

.login-signup-buttons .login-link,
.login-signup-buttons .signup-link {
  padding-top: 12px;
  padding-bottom: 12px;
  color: inherit;
  background-color: #ffffff;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.login-signup-buttons .signup-link {
  padding-left: 24px;
  padding-right: 24px;
}

.login-signup-buttons .login-link {
  position: relative;
  margin-right: 10px;
  padding-left: 48px;
  padding-right: 26px;
}

.login-signup-buttons .login-link::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 9px;
  width: 32px;
  height: 32px;
  background: url(../img/icon-login.svg) no-repeat 50% 50%;
  opacity: 0.3;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.login-signup-buttons .login-link:hover,
.login-signup-buttons .signup-link:hover {
  color: #ee3643;
}

.login-signup-buttons .login-link:hover.login-link::before {
  opacity: 1;
}

.login-signup-buttons .login-link:focus,
.login-signup-buttons .signup-link:focus,
.login-signup-buttons .login-link:active,
.login-signup-buttons .signup-link:active {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.login-signup-buttons .login-link:focus.login-link::before,
.login-signup-buttons .login-link:active.login-link::before {
  opacity: 0.3;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 60px;
  margin: 0;
  margin-top: 39px;
  padding: 0;
  line-height: 17px;
  background-color: #32425c;
  -webkit-box-shadow: inset 0px -5px 0 0 #293449;
          box-shadow: inset 0px -5px 0 0 #293449;
  list-style: none;
}

.main-menu-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 30px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.main-menu-item:first-child {
  padding-left: 51px;
}

.main-menu-item:last-child {
  padding-right: 53px;
}

.main-menu-item a {
  font: inherit;
  color: #ffffff;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.main-menu-item:hover {
  background-color: #212a3a;
}

.main-menu-item a:focus,
.main-menu-item a:active {
  color: rgba(255, 255, 255, 0.5);
}

.main-menu-item:focus,
.main-menu-item a:focus .main-menu-item,
.main-menu-item:active,
.main-menu-item a:active .main-menu-item {
  background-color: #1d2739;
}

.offers {
  color: #ffffff;
}

.offers-list {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-basis: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
  margin: 0;
  margin-bottom: 54px;
  list-style: none;
}

.offers-list-item {
  position: relative;
  width: 300px;
  margin-bottom: 20px;
}

.offers-list-item h4 {
  margin-top: 22px;
  margin-bottom: 12px;
  margin-left: 22px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.offers-list-item a {
  display: inline-block;
  width: 135px;
  padding: 10px 0;
  margin-left: 24px;
  margin-bottom: 21px;
  font-size: 14px;
  color: inherit;
  text-transform: uppercase;
  text-align: center;
  vertical-align: top;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.offers-list-item a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.offers-list-item a:focus,
.offers-list-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.offers-list-item:nth-child(1) {
  background-color: #ffbf47;
}

.offers-list-item:nth-child(2) {
  background-color: #3bbce3;
}

.offers-list-item:nth-child(3) {
  background-color: #dc91d8;
}

.offers-list-item:nth-child(4) {
  margin-left: auto;
  background-color: #8ed78f;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.offers-list-item:nth-child(5) {
  margin-left: auto;
  margin-bottom: 0;
  background-color: #ffc047;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.offer-icon {
  position: absolute;
  top: 32px;
  right: 32px;
}

.offer-icon-materials {
  width: 44px;
  height: 65px;
  top: 31px;
  right: 43px;
  background-image: url('../img/materials.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.offer-icon-tools {
  width: 75px;
  height: 61px;
  right: 28px;
  background-image: url('../img/tools.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.offer-icon-machinery {
  width: 78px;
  height: 62px;
  top: 31px;
  right: 31px;
  background-image: url('../img/machinery.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.offer-icon-discounts {
  width: 59px;
  height: 72px;
  top: 26px;
  right: 45px;
  background-image: url('../img/discounts.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.offer-icon-delivery {
  width: 78px;
  height: 63px;
  background-image: url('../img/delivery.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.slider-container {
  position: relative;
  width: 620px;
  min-height: 266px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  margin-bottom: -123px;
  background-color: #b5b5b5;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.slides {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  -webkit-animation-name: fadeSlide;
  -webkit-animation-duration: 1.5s;
  animation-name: fadeSlide;
  animation-duration: 1.5s;
}

.slider-container .slides img {
  display: block;
  max-width: 100%;
  height: auto;
}

.slider-container figcaption {
  position: absolute;
  top: 24px;
  left: 24px;
}

.slider-container span:nth-child(1) {
  display: block;
  margin-bottom: 1px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.slider-container span:nth-child(2) {
  font-size: 18px;
  line-height: 24px;
}

.slide-active {
  display: block;
}

.slider-arrows {
  display: inline-block;
  width: 22px;
  height: 40px;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  text-indent: -10000px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.slider-arrows:hover,
.slider-arrows:focus {
  opacity: 0.5;
  outline: none;
}

.slider-arrows:active {
  opacity: 1;
}

.slider-arrows:disabled {
  opacity: 0.2;
  cursor: default;
}

.slider-arrows.arrow-left {
  left: 25px;
  background-image: url('../img/icon-arrow-left.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.slider-arrows.arrow-right {
  right: 20px;
  background-image: url('../img/icon-arrow-right.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.slider-button {
  position: absolute;
  left: 25px;
  bottom: 21px;
  width: 195px;
}

.slider-controls {
  position: absolute;
  left: 50%;
  top: 216px;
  -webkit-transform: translateX(-16px);
      -ms-transform: translateX(-16px);
          transform: translateX(-16px);
  z-index: 10;
}

.slider-controls .circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  vertical-align: middle;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  cursor: pointer;
}

.slider-controls .circle-active {
  background-color: #ee3643;
  border: 2px solid #ffffff;
}

.slider-controls .circle:hover {
  background-color: #ee3643;
  border: 2px solid #ee3643;
}

.popular-products .section-top,
.popular-producers .section-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding: 5px 24px 4px 27px;
  background-color: #f9f5f0;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.catalog-item {
  position: relative;
  width: 218px;
  margin-bottom: 20px;
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 700;
  text-align: center;
  vertical-align: top;
  border: 1px solid #e5e5e5;
  overflow: hidden;
  -webkit-transition: all 0.6s ease-in;
  -o-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
}

.popular-products .catalog-item:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.catalog-tools .catalog-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.catalog-item:hover {
  border-color: transparent;
  -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item:hover .catalog-item-buttons {
  display: block;
}

.catalog-item .flag {
  display: none;
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  background-image: url('../img/new-flag.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  text-indent: -1000px;
  overflow: hidden;
}

.popular-products .flag-on,
.catalog-tools .flag-on {
  display: block;
}

.catalog-item-buttons {
  display: none;
  position: absolute;
  top: 44px;
  left: 0;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  z-index: 10;
}

.catalog-item-buttons .purchase,
.catalog-item-buttons .wish-list {
  width: 135px;
  margin: 0 auto;
  margin-bottom: 8px;
  padding: 8px 6px;
  text-transform: uppercase;
  border: none;
  border: 3px solid #63a63e;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.catalog-item-buttons .purchase {
  position: relative;
  color: #ffffff;
  background-color: #63a63e;
  border-bottom-color: #367315;
}

.catalog-item-buttons .purchase::before {
  position: absolute;
  content: "";
  top: -1px;
  left: -1px;
  width: 32px;
  height: 32px;
  background: url(../img/icon-cart.svg) no-repeat 50% 50%;
  opacity: 0.3;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.catalog-item-buttons .purchase:hover {
  background-color: #5fbb2d;
  border: 3px solid #5fbb2d;
  border-bottom-color: #367315;
}

.catalog-item-buttons .purchase:hover::before {
  opacity: 1;
}

.catalog-item-buttons .purchase:focus,
.catalog-item-buttons .purchase:active {
  background-color: #518534;
  border: 3px solid #518534;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.catalog-item-buttons .purchase:focus::before {
  opacity: 1;
}

.catalog-item-buttons .wish-list {
  color: #32425c;
  background-color: #ffffff;
}

.catalog-item-buttons .wish-list:hover {
  border: solid 3px #32425c;
}

.catalog-item-buttons .wish-list:focus,
.catalog-item-buttons .wish-list:active {
  color: rgba(50, 66, 92, 0.3);
  outline: none;
  border: solid 3px rgba(50, 66, 92, 0.3);
}

.catalog-item a {
  font: inherit;
  color: #000000;
}

.catalog-item .catalog-item-image {
  max-width: 218px;
  max-height: 170px;
  margin-bottom: 9px;
  padding: 3px;
  padding-bottom: 0;
  overflow: hidden;
}

.catalog-item img {
  width: 100%;
  height: auto;
  background-color: #b5b5b5;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.catalog-item:hover img {
  opacity: 0;
}

.catalog-item .title {
  display: block;
  min-height: 40px;
  margin-bottom: 12px;
  padding: 0 25px;
  font-size: 18px;
  line-height: 20px;
}

.catalog-item .old-price {
  display: block;
  min-height: 20px;
  margin-bottom: 5px;
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
}

.catalog-item .no-old-price {
  visibility: hidden;
}

.catalog-item .new-price {
  display: block;
  position: relative;
  width: 132px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 11px 30px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
}

.catalog-item .new-price::after {
  position: absolute;
  content: "";
  top: 0;
  right: -27px;
  width: 0;
  height: 0;
  border: 20px solid #ffffff;
  border-left-color: #ee3643;
}

.producers-list {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 66px;
  list-style: none;
}

.producers-list .producers-item {
  display: block;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  min-height: 145px;
  margin-bottom: 20px;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
  text-indent: -10000px;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.producers-list .producers-item:nth-child(1) {
  background: url(../img/bosch.svg) no-repeat center;
}

.producers-list .producers-item:nth-child(2) {
  background: url(../img/makita.svg) no-repeat center;
}

.producers-list .producers-item:nth-child(3) {
  background: url(../img/dewalt.svg) no-repeat center;
}

.producers-list .producers-item:nth-child(4) {
  background: url(../img/interskol.svg) no-repeat center;
}

.producers-list .producers-item:nth-child(5) {
  background: url(../img/hitachi.svg) no-repeat center;
}

.producers-list .producers-item:nth-child(6) {
  background: url(../img/lg.svg) no-repeat center;
}

.producers-list .producers-item:nth-child(7) {
  background: url(../img/aeg.svg) no-repeat center;
}

.producers-list .producers-item:nth-child(8) {
  background: url(../img/metabo.svg) no-repeat center;
}

.producers-item:hover {
  border-color: transparent;
  -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.producers-item:focus,
.producers-item:active {
  outline: none;
  -webkit-box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.producers-item:focus img,
.producers-item:active img {
  opacity: 0.3;
}

.services {
  background-color: #f4f7f9;
}

.services .heading-black {
  display: block;
  margin-bottom: 26px;
  padding-top: 65px;
}

.services p,
.about p,
.main-contact p {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.services p {
  display: block;
  width: 398px;
  margin-bottom: 68px;
}

.service-item-container {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.service-item {
  display: none;
  position: relative;
  width: 620px;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-name: fadeIn;
  animation-duration: 1s;
}

.service-item.active {
  display: block;
}

.service-tabs {
  position: relative;
  width: 240px;
  margin: 0;
  margin-bottom: 100px;
  padding: 0;
  list-style: none;
}

.service-tabs::after {
  position: absolute;
  content: "";
  top: -46px;
  right: 0;
  width: 10px;
  height: 279px;
  background: url(../img/shadow.png) no-repeat 50% 50%;
}

.service-tab {
  width: 240px;
  padding: 16px 22px;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
  background-color: #32425c;
  -webkit-box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
          box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.service-tab.tab-active {
  color: #32425c;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
          box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
  outline: none;
}

.service-tab:not(.tab-active):hover,
.service-tab:not(.tab-active):focus {
  background-color: #293449;
  outline: none;
}

.service-item figure {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
}

.delivery figure {
  top: 24px;
}

.service-item h3 {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.credit p {
  margin-bottom: 30px;
}

.about-contact-container {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 452px;
  margin-bottom: 83px;
}

.about-contact-container .heading-black {
  margin: 0;
  margin-top: 78px;
  margin-bottom: 25px;
}

.about-contact-container p {
  margin: 0;
  margin-bottom: 24px;
}

.about-contact-container p:nth-of-type(2) {
  margin-bottom: 22px;
}

.about {
  width: 519px;
}

.about .logistics-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 386px;
  min-height: 99px;
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
  padding-left: 35px;
  font-size: 18px;
  line-height: 20px;
  list-style: none;
}

.logistics-list li {
  position: relative;
  padding-bottom: 20px;
}

.logistics-list li:last-child {
  padding-bottom: 0;
}

.logistics-list li::before {
  position: absolute;
  content: "";
  top: 8px;
  left: -35px;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.about .button {
  width: 220px;
}

.main-contact {
  width: 300px;
}

.main-contact p {
  margin-bottom: 32px;
}

.main-contact+a {
  font-size: 0;
}

.main-contact .map {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 40px;
  background-color: #b5b5b5;
  background-size: cover;
}

.main-contact .button {
  width: 100%;
}

/* FOOTER */
.main-footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}

.main-footer-nav .logo-container {
  width: 220px;
  height: 68px;
}

.main-footer-nav .logo {
  margin-top: 20px;
}

.main-footer-top {
  font-size: 18px;
  line-height: 24px;
  background-color: #32425c;
}

.main-footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 550px;
  margin: 0;
  margin-top: 26px;
  padding: 0;
  list-style: none;
}

.main-footer-menu-item {
  margin-left: 59px;
  padding-top: 12px;
}

.main-footer-menu-item:first-child {
  margin-left: 0;
}

.main-footer-menu-item a {
  color: #f1f5f7;
}

.main-footer-menu-item a:hover,
.main-footer-breadcrumbs a:hover {
  text-decoration: underline;
}

.main-footer-menu-item a:focus,
.main-footer-menu-item a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.breadcrumbs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-bottom: 50px;
}

.breadcrumbs-container span {
  width: 326px;
  padding-left: 3px;
  color: #f1f5f7;
}

.main-footer-breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 530px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-footer-breadcrumbs li {
  margin-left: 60px;
  padding-top: 12px;
}

.main-footer-breadcrumbs li:first-child {
  margin-left: 0;
}

.main-footer-breadcrumbs a:focus,
.main-footer-breadcrumbs a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.main-footer-breadcrumbs a {
  font: inherit;
  color: #ffd180;
}

.main-footer-bottom {
  font-size: 16px;
  background-color: #293449;
}

.footer-bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 34px;
  padding-bottom: 30px;
}

.footer-bottom-container>p {
  min-width: 230px;
}

.footer-bottom-container p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #ffffff;
}

.social-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 550px;
}

.social-info-container .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 132px;
  margin: 0;
  margin-right: 68px;
  padding: 0;
  list-style: none;
}

.social-info-container p:first-child {
  width: 140px;
}

.social-info-container p:last-child {
  width: 100px;
  padding-right: 11px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.social-list-item a {
  display: inline-block;
  width: 42px;
  height: 42px;
  margin-right: 3px;
  vertical-align: middle;
  text-indent: -10000px;
  background-color: #161d29;
  background-repeat: no-repeat;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.social-list-item:nth-child(1) a {
  background-image: url('../img/social-sprite.png');
  background-position: 8px 10px;
}

.social-list-item:nth-child(2) a {
  background-image: url('../img/social-sprite.png');
  background-position: -38px 10px;
}

.social-list-item:last-child a {
  margin-right: 0;
  background-image: url('../img/social-sprite.png');
  background-position: -81px 10px;
}

.social-list-item a:hover,
.social-list-item a:focus {
  background-color: #ee3643;
}

.footer-email {
  width: 135px;
  margin-right: 53px;
}

.footer-copyright {
  width: 96px;
  margin-right: auto;
}

.footer-email a,
.footer-copyright a {
  font: inherit;
  font-size: 16px;
  color: #ffd180;
}

.footer-email a:hover,
.footer-copyright a:hover {
  text-decoration: underline;
}

.footer-email a:focus,
.footer-copyright a:focus,
.footer-email a:active,
.footer-copyright a:active {
  text-decoration: none;
  color: #ee3643;
}

/*CATALOG*/
.main-header-catalog {
  margin-bottom: 14px;
}

.main-header-middle .user-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 300px;
}

.user-account .user-name {
  position: relative;
  margin-bottom: 7px;
  padding: 12px 48px;
  font: inherit;
  font-size: 21px;
  line-height: 21px;
  color: inherit;
  text-align: left;
  background-color: #ffffff;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.user-account .user-name::after {
  position: absolute;
  content: "";
  top: 6px;
  right: 6px;
  width: 32px;
  height: 32px;
  background: url(../img/icon-logout.svg) no-repeat center;
  opacity: 0.3;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.user-account .user-name::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 9px;
  width: 32px;
  height: 32px;
  background: url(../img/icon-user.svg) no-repeat center;
  opacity: 0.3;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.user-account .user-name:hover {
  color: #000000;
}

.user-account .user-name:hover.user-name::before,
.user-account .user-name:hover.user-name::after {
  opacity: 1;
}

.user-account .user-name:focus,
.user-account .user-name:active {
  color: rgba(0, 0, 0, 0.3)
}

.user-account .user-name:focus.user-name::before,
.user-account .user-name:focus.user-name::after {
  opacity: 0.3;
}

.user-account-buttons a {
  font: inherit;
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.user-account-buttons a:first-child {
  position: relative;
  margin-left: 18px;
  margin-right: 28px;
}

.user-account-buttons a:first-child::after {
  position: absolute;
  content: '';
  top: 7px;
  right: -20px;
  width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 50%;
}

.user-account-buttons a:hover {
  color: #ee3643;
}

.user-account-buttons a:focus,
.user-account-buttons a:active {
  color: rgba(50, 66, 92, 0.3);
}

.catalog-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 21px;
}

.catalog-top h1 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 30px 0 30px 28px;
  background-color: #f2f6f8;
}

.catalog-breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.catalog-breadcrumbs li {
  position: relative;
}

.catalog-breadcrumbs li:first-child {
  padding-right: 22px;
}

.catalog-breadcrumbs li:not(:first-child) {
  padding-right: 40px;
}

.catalog-breadcrumbs a {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: inherit;
  text-transform: uppercase;
  cursor: pointer;
}

.catalog-breadcrumbs .home-link {
  display: block;
  width: 32px;
  height: 32px;
  background: url('../img/icon-home.svg') no-repeat -7% 50%;
  text-indent: -10000px;
}

.catalog-breadcrumbs li:not(:last-child)::after {
  position: absolute;
  content: '';
  top: 3px;
  right: 14px;
  width: 8px;
  height: 12px;
  background: url(../img/icon-right-small.svg) no-repeat center;
}

.catalog-breadcrumbs li:first-child::after {
  top: 10px;
  right: 18px;
}

.filters-catalog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.filters {
  width: 220px;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter legend {
  margin-bottom: 12px;
  font-family: 'PTSans', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 10px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  margin-bottom: 25px;
}

.price-controls label {
  display: inline-block;
  vertical-align: middle;
  width: 95px;
}

.min-price {
  position: relative;
  margin-right: 25px;
}

.min-price::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 105px;
  width: 10px;
  height: 1px;
  background-color: #000000;
}

.price-controls input[type='number'] {
  width: 95px;
  padding: 10px 18px;
  font-family: 'PTSans', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  border: none;
  background-color: #f7f3ec;
  border-radius: 3px;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.filter hr {
  margin: 0;
  margin-bottom: 16px;
  border: 0;
  height: 1px;
  background-color: #e5e5e5;
}

.producers-fieldset legend,
.power-supply-fieldset legend {
  margin-bottom: -2px;
}

.filter .producers-filter,
.filter .power-supply-options {
  list-style: none;
}

.filter .producers-filter {
  margin-bottom: 22px;
}

.filter .power-supply-options {
  margin-bottom: 78px;
}

.producers-filter .filter-option,
.power-supply-options .filter-option {
  margin-bottom: 20px;
}

.filter-option label {
  position: relative;
  display: inline-block;
  margin-left: -7px;
  font-family: 'PTSans', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  vertical-align: middle;
  text-transform: uppercase;
  cursor: pointer;
}

.producers-filter label::before,
.power-supply-options label::before {
  position: absolute;
  top: -8px;
  left: -33px;
  content: "";
  width: 32px;
  height: 32px;
  background: url(../img/checkbox-off.svg) no-repeat 0 50%;
  opacity: 0.8;
}

.producers-filter label::before {
  background: url(../img/checkbox-off.svg) no-repeat 0 50%;
}

.power-supply-options label::before {
  background: url(../img/radio-off.svg) no-repeat 0 50%;
}

.producers-filter input[type="checkbox"]:checked+label:before,
.power-supply-options input[type="radio"]:checked+label:before {
  opacity: 0.8;
  -webkit-animation: crescendo 0.6s alternate ease-in;
          animation: crescendo 0.6s alternate ease-in;
}

.producers-filter input[type="checkbox"]:checked+label:before {
  background: url(../img/checkbox-on.svg) no-repeat 0 50%;
}

.power-supply-options input[type="radio"]:checked+label:before {
  background: url(../img/radio-on.svg) no-repeat 0 50%;
}

.producers-filter input[type="checkbox"]:hover+label:before,
.producers-filter input[type="checkbox"]:checked:hover+label:before,
.power-supply-options input[type="radio"]:hover+label:before,
.power-supply-options input[type="radio"]:checked:hover+label:before {
  opacity: 1;
}

.producers-filter input[type="checkbox"]:disabled+label:before,
.power-supply-options input[type="radio"]:disabled+label:before {
  opacity: 0.5;
}

.producers-filter input[type="checkbox"]:disabled+label,
.ppwer-supply-options input[type="radio"]:disabled+label {
  color: rgba(0, 0, 0, 0.4);
  cursor: default;
}

.filters .filter-button {
  width: 140px;
  padding: 9px 0;
  font-family: 'PTSans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.filter-button:hover {
  border: solid 1px #bdc6ca;
}

.filter-button:focus,
.filter-button:active {
  border: solid 1px #ee3643;
  outline: none;
}

.catalog-tools {
  width: 700px;
  margin-bottom: 60px;
}

.filters>span {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  padding: 9px 0 10px 19px;
}

.filters>span,
.sorting {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
  padding-left: 19px;
  padding-right: 8px;
}

.sorting>span {
  min-width: 82px;
  margin-right: 104px;
  padding-top: 9px;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 356px;
  margin: 0;
  padding: 0;
  padding-top: 9px;
  list-style: none;
}

.sorting-item {
  margin-bottom: 9px;
  color: rgba(0, 0, 0, 0.18);
  border-bottom: 1px dotted #ee3643;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.sorting-item:hover:not(.sorting-item-active),
.sorting-item:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sorting-item-active {
  color: #ee3643;
  border-bottom: none;
  cursor: default;
}

.sorting-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 64px;
  height: 32px;
  margin-top: 2px;
}

.sorting-buttons .button-up,
.sorting-buttons .button-down {
  width: 32px;
  margin: 0;
  padding: 0;
  text-indent: -10000px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.sorting-buttons .button-up,
.sorting-buttons .button-down {
  background: url(../img/icon-up-sort-gray.svg) no-repeat center;
}

.sorting-buttons .button-up:hover:not(.sorting-button-active),
.sorting-buttons .button-down:hover:not(.sorting-button-active),
.sorting-buttons .button-up:focus:not(.sorting-button-active),
.sorting-buttons .button-down:focus:not(.sorting-button-active),
.sorting-buttons .button-up:active:not(.sorting-button-active),
.sorting-buttons .button-down:active:not(.sorting-button-active) {
  background: url(../img/icon-up-sort-black.svg) no-repeat center;
}

.sorting-buttons .button-up:focus:not(.sorting-button-active),
.sorting-buttons .button-down:focus:not(.sorting-button-active),
.sorting-buttons .button-up:active:not(.sorting-button-active),
.sorting-buttons .button-down:active:not(.sorting-button-active) {
  outline: none;
}

.sorting-buttons .sorting-button-active {
  background: url(../img/icon-up-sort-red.svg) no-repeat center;
  cursor: default;
}

.sorting-buttons .button-down {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.catalog-tools .catalog-list {
    margin-bottom: 52px;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-list a {
  display: inline-block;
  width: 38px;
  height: 38px;
  margin-right: 10px;
  padding: 10px 6px;
  vertical-align: middle;
  font-family: 'PTSans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.pagination-list .next {
  min-width: 140px;
}

.pagination-list a:not(.link-active):hover {
  border: solid 1px #bdc6ca;
}

.pagination-list a:not(.link-active):focus,
.pagination-list a:not(.link-active):active {
  border: solid 1px #ee3643;
}

.pagination-list .link-active {
  color: #ffffff;
  background-color: #ee3643;
  border: solid 1px #ee3643;
  cursor: default;
}

.catalog-article {
  background-color: #f4f7f9;
  padding-top: 66px;
  padding-bottom: 67px;
}

.catalog-article .heading-black {
  display: block;
  margin: 0;
  margin-bottom: 26px;
}

.catalog-article p {
  display: block;
  margin: 0;
  font-family: 'PTSans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

/* MODALS */
.modal {
  position: fixed;
  z-index: 10;
}

.modal-email,
.modal-check {
  display: none;
  width: 620px;
  left: 50%;
  background-color: #ffffff;
  border-top: 7px solid #ee3643;
}

.modal-email {
margin-left: -310px;
top: 42%;
}

.modal-check {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal-email-show,
.modal-check-show {
  display: block;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-name: fadeIn;
  animation-duration: 1s;
}

.modal-error {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

.modal-email,
.modal-map {
  -webkit-box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
          box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal-email p {
  margin: 0;
}

.email-form-container {
  width: 100%;
  margin-bottom: 37px;
  padding: 45px 80px 0 80px;
}

.email-form-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.email-form-top p {
  width: 220px;
  margin-bottom: 20px;
}

.email-form label {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 1px;
  vertical-align: middle;
}

.email-form input[type='text'],
.email-form input[type='email'],
.email-form textarea {
  padding: 8px 14px;
  font: inherit;
  border: none;
  border: solid 2px #dee3e4;
}

.email-form input[type='text'],
.email-form input[type='email'] {
  width: 100%;
}

.email-form textarea {
  width: 460px;
  min-height: 90px;
  margin: 0;
  resize: none;
}

/* Remove the default red outline in Firefox: */
.email-form input:required {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.email-form input[type='text']::-moz-placeholder,
.email-form input[type='email']::-moz-placeholder,
.email-form textarea::-moz-placeholder {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #a9a9a9
}

.email-form input[type='text']::-webkit-input-placeholder,
.email-form input[type='email']::-webkit-input-placeholder,
.email-form textarea::-webkit-input-placeholder {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #a9a9a9
}

.email-form input[type='text']::-ms-input-placeholder,
.email-form input[type='email']::-ms-input-placeholder,
.email-form textarea::-ms-input-placeholder {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #a9a9a9
}

.email-form input[type='text']:-ms-input-placeholder,
.email-form input[type='email']:-ms-input-placeholder,
.email-form textarea:-ms-input-placeholder {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #a9a9a9
}

.email-form input[type='text']::-webkit-input-placeholder, .email-form input[type='email']::-webkit-input-placeholder, .email-form textarea::-webkit-input-placeholder {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #a9a9a9
}

.email-form input[type='text']::-moz-placeholder, .email-form input[type='email']::-moz-placeholder, .email-form textarea::-moz-placeholder {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #a9a9a9
}

.email-form input[type='text']:-ms-input-placeholder, .email-form input[type='email']:-ms-input-placeholder, .email-form textarea:-ms-input-placeholder {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #a9a9a9
}

.email-form input[type='text']::-ms-input-placeholder, .email-form input[type='email']::-ms-input-placeholder, .email-form textarea::-ms-input-placeholder {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #a9a9a9
}

.email-form input[type='text']::placeholder,
.email-form input[type='email']::placeholder,
.email-form textarea::placeholder {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #a9a9a9
}

.email-form input[type="text"]:hover,
.email-form input[type="email"]:hover,
.email-form textarea:hover {
  border-color: #b5b5b5;
}

.email-form input[type="text"]:focus,
.email-form input[type="email"]:focus,
.email-form textarea:focus,
.email-form input[type="text"]:active,
.email-form input[type="email"]:active,
.email-form textarea:active {
  outline: none;
  border-color: #ee3643;
}

.email-form input[type="text"]:focus::-moz-placeholder,
.email-form input[type="email"]:focus::-moz-placeholder,
.email-form textarea:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

.email-form input[type="text"]:focus::-webkit-input-placeholder,
.email-form input[type="email"]:focus::-webkit-input-placeholder,
.email-form textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

.email-form input[type="text"]:focus::-ms-input-placeholder,
.email-form input[type="email"]:focus::-ms-input-placeholder,
.email-form textarea:focus::-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

.email-form input[type="text"]:focus:-ms-input-placeholder,
.email-form input[type="email"]:focus:-ms-input-placeholder,
.email-form textarea:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

.email-form input[type='text']:focus::-webkit-input-placeholder, .email-form input[type='email']:focus::-webkit-input-placeholder, .email-form textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

.email-form input[type='text']:focus::-moz-placeholder, .email-form input[type='email']:focus::-moz-placeholder, .email-form textarea:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

.email-form input[type='text']:focus:-ms-input-placeholder, .email-form input[type='email']:focus:-ms-input-placeholder, .email-form textarea:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

.email-form input[type='text']:focus::-ms-input-placeholder, .email-form input[type='email']:focus::-ms-input-placeholder, .email-form textarea:focus::-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

.email-form input[type='text']:focus::placeholder,
.email-form input[type='email']:focus::placeholder,
.email-form textarea:focus::placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.8s ease;
  -o-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

@-webkit-keyframes autofill {
  to {
    color: inherit;
    background: transparent;
  }
}

.email-form input[type='text']:-webkit-autofill,
.email-form input[type='email']:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.email-form .button-area {
  text-align: center;
}

.email-form .button {
  width: 460px;
  margin-top: 37px;
  margin-bottom: 37px;
}

.modal-close {
  position: absolute;
  top: 3px;
  right: 4px;
  width: 32px;
  height: 32px;
  text-indent: -10000px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  position: absolute;
  content: "";
  top: 14px;
  right: 2px;
  width: 26px;
  height: 4px;
  background-color: #ee3643;
  border-radius: 1px;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-close:focus,
.modal-close:active {
  outline: none;
}

.modal .button-area {
  width: 100%;
  background-color: #f4f4f4;
}

.modal-map {
  display: none;
  width: 940px;
  height: 446px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-map-show {
  display: block;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-name: fadeIn;
  animation-duration: 1s;
}

.modal-check {
  -webkit-box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
          box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.modal-check span {
  display: inline-block;
  margin-top: 67px;
  margin-bottom: 68px;
  margin-left: 180px;
  vertical-align: middle;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

.modal-check span::before {
  position: absolute;
  content: "";
  top: 50px;
  left: 80px;
  width: 66px;
  height: 66px;
  background: url('../img/modal-check.svg') no-repeat 0 0;
}

.modal-check-buttons {
  display: inline-block;
  vertical-align: middle;
  margin: 37px 80px;
}

.modal-check-buttons .order-button {
  width: 220px;
}

.modal-check-buttons .back-to-buy-button {
  width: 220px;
  margin-left: 15px;
  color: inherit;
  background-color: #ffffff;
}
